- if @password.expired
  %p.large-yellow-font
    We apologize but this secret link has expired.
  %p
    - if @password.deleted
      This secret link was manually expired by one of its viewers.
    - elsif @password.views_remaining == 0
      == This secret link has hit its maximum view count.
    - elsif @password.days_remaining == 0
      == This secret link has hit its maximum age.

- else
  - if @first_view
    .share_note
      %div.input_group
        %input#secret_url{ :value => "#{request.url}", :spellcheck => "false", :readonly => true }

  %div.payload.spoiler.notranslate#pass{ "translate" => "no" }<
    = @payload

  %p
    - if @password.views_remaining == 0
      == This secret link will be deleted in #{pluralize(@password.days_remaining, 'day')} or #{@password.views_remaining} more views (this is the last view).
    - else
      == This secret link will be deleted in #{pluralize(@password.days_remaining, 'day')}
      == or #{pluralize(@password.views_remaining, 'more view')} (whichever occurs first).
  - if @password.deletable_by_viewer
    %p{ :style => 'font-size: .85em;' }
      = link_to "Nah. I've got it. Delete this secret link now.", password_path, :id => @password.url_token, :method => :delete, :data => { :confirm => 'This will expire this secret link and remove the password from the database forever.  Are you sure?' }